h1 {
    text-align: center;
    font-family: cursive;
}

.task_cont {
    display: flex;
    position: relative;
}

.btn_add {
    position: absolute;
    right: 0;
    border-radius: 0px 3px 3px 0px;
    width: 80px;
}

li {
    position: relative;
}

.btn-complete {
    position: absolute;
    right: 10px;
    top: 5px;
}

.active_taks {
    text-align: right;
}

.active_taks span {
    color: #dc3545;
    font-size: 20px;
    font-weight: 600;
    padding-right: 15px;
    font-family: cursive;
}

.ok {
    color: green;
    margin-right: 5px;
}
.wrong {
    color: red;
    margin-right: 5px;
}

._error {
    border-color: red;
}

.btn_remove {
    position: absolute;
    font-size: 30px;
    right: 115px;
    top: 0px;
    border: none;
    background-color: transparent;

}
.btn_remove:focus {
    outline: 0;
}
